{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 12, "knowledge_revision": 27, "git_revision": "c32fe19cb65bd2c324be16389bd0413d2f514ce2", "hash": "935d9cf42c9d33421631dd9027d2088e", "format-version": 4, "code-base-name": "default", "filename": "fastuser_manage/requirements.txt", "revision_history": [{"27": "c32fe19cb65bd2c324be16389bd0413d2f514ce2"}]}