{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 1, "knowledge_revision": 8, "git_revision": "6a92a7e8fc1542d7f032f54f69f86db1818a59f0", "hash": "1d666af380b83b2c5033b860e3cfc119", "format-version": 4, "code-base-name": "default", "filename": "fastuser_manage/requirements.txt", "revision_history": [{"8": "6a92a7e8fc1542d7f032f54f69f86db1818a59f0"}]}