{"is_source_file": true, "file_id": 12, "git_revision": "c32fe19cb65bd2c324be16389bd0413d2f514ce2", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "935d9cf42c9d33421631dd9027d2088e", "format-version": 4, "code-base-name": "default", "filename": "fastuser_manage/requirements.txt", "knowledge_revision": 24}